 ._loginhead{
    width: 100%;
    padding: 10px;
    /* background-color:white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
._loginbox{
    margin-top: 20px;
    width: 60%;
    min-width: 300px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(2, 1, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0 40px 0px;
}
._headinglogin{
    width: 80%;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    /* color: black; */
    padding:20px 10px;
    background-color:rgba(34, 21, 218, 0.256);
}
._emailbox{
    text-align: left ;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding:20px 10px;
}
._emailbox label{
    padding-left: 15px;
   
    padding-bottom: 5px;
}
._emailbox input{
    padding: 10px;
    border-radius: 10px;
    margin-left: 15px;
}
._passwordbox{
    text-align: left ;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding:20px 10px;
}
._passwordbox label{
    padding-left: 15px;
    padding-bottom: 5px;
    
}
._passwordbox input{
    padding: 10px;
    margin-left: 15px;
    border-radius: 10px;
}

._submitbutton{
    background-color:rgba(6, 97, 234, 0.826);
    padding: 10px 10px ;
    width: 80%;
    margin-bottom: 0px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
}
._submitbutton:hover{
    scale: 1.04;
}
._Donthave{
    background-color:rgba(102, 109, 244, 0.826);
    padding: 5px 10px ;
    width: 80%;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
}
._Donthave:hover{
    scale: 1.04;
}
._forgot-password{
    padding: 3px 10px;
    font-size: 20px;
    text-align: right;
    width: 80%;
    padding-bottom: 20px;
}