
.headofnav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 10px;
    /* background-color: aqua; */
}
.navcontain1{
    width: 100%;
    height: 100px;
    background-color:rgb(222, 245, 245);
}
.top1{
    display:flex;
}
.headingis{
    padding: 20px;
    margin-left: 20px;
    font-size: 40px;
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.log_sign{
    width: 90%;
    display: flex;
    margin: 20px 0px;
    justify-content: space-around;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    /* background-color: bisque; */
}
.login, .sign{
    background-color: rgb(210, 197, 197);
    padding: 10px;
    cursor: pointer;
    border-radius: 10px 5px;
}
.login:hover,.sign:hover{
    scale: 1.04;
}