.loginhead{
    width: 100%;
    padding: 10px;
    /* background-color:white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginbox{
    margin-top: 20px;
    width: 60%;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:azure;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0 20px 0px;
}
.headinglogin{
    width: 90%;
    text-align: center;
    padding:20px 10px;
    background-color:rgb(173, 166, 166);
}
.emailbox{
    text-align: left ;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding:20px 10px;
}
.emailbox label{
    padding-left: 15px;
    padding-bottom: 5px;
}
.emailbox input{
    padding: 10px;
    margin-left: 15px;
}
.passwordbox{
    text-align: left ;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding:20px 10px;
}
.passwordbox label{
    padding-left: 15px;
    padding-bottom: 5px;
}
.passwordbox input{
    padding: 10px;
    margin-left: 15px;
}
.checkbox1{
    display: flex;
    flex-direction: row;
    width: 90%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    text-align: left;
     padding:20px 10px;
}
.checkbox1-input{
    margin: 10px;
}
.checkbox1 label{
    font-size: 20px;
}
.submitbutton{
    background-color:rgba(0, 128, 0, 0.826);
    padding: 5px 10px ;
    width: 80%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 20px;
}
.submitbutton:hover{
    scale: 1.04;
}
