.conttable{
    height: 320px;
    /* width: 100px; */
    width: 90% !important;
    margin-top: 10px;
    margin-bottom: 30px;
    /* overflow:auto; */
    overflow-y: hidden;
    border-radius: 0 !important;
}
.headtable{
 display: flex;
 justify-content: center;
}